<p id="notice"><%= notice %></p>

<input type=form id="form" placeholder="ユーザー名を入力してください" style="width: 250px;"/>
<!-- ここから追記 -->
<ul id="result">
<!-- この中に<li>デデデ大王</li>みたいに検索候補を追加していきます -->
</ul>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
